<!DOCTYPE html>
<!--
Primera pagina
-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <a class="logo nav-link" href="/">TechShop</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/ejemplo2">Mis Autos</a></li>
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/multimedia">Multimedia</a></li>
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/iframes">iFrames</a></li>
                </ul>
            </nav>
        </header>
        <aside>
            <h1>Bienvenido a TechShop Pagina Principal</h1>
            <p>Su tienda en línea de confianza para productos tecnológicos de alta calidad.</p>
        </aside>
        <section>
            <h2>Productos Destacados del dia</h2>
            <article>
                <h3>Laptop Intel Core i5</h3>
                <p>Laptop con procesador Intel Core i5, 8GB de RAM y 256GB de SSD.</p>
                <p>Precio: $1,000.00</p>
            </article>
            <article>
                <h3>Laptop Intel Core i5</h3>
            </article>
        </section>
        <footer>
            Todos los Derechos Reservados TechShop 2025 &COPY;
        </footer>
    </body>
</html>
